<script>
import { ref, onMounted } from "vue"
import { RouterLink } from 'vue-router'
import BarChart from '../components/MeanConsumptionChart.vue'
export default {
    name: 'DataTable',
    components: {
        RouterLink,
        BarChart
    },
    props: {
    },
    setup() {
        const data = ref(null);
        const loading = ref(true);
        const error = ref(null);
        const chartData = ref(null);
        const labels = ref(null);

        function fetchData() {
            loading.value = true;
            return fetch('http://localhost:3000/dashboard', {
                method: 'get',
                headers: {
                    'content-type': 'application/json'
                }
            })
                .then(async res => {
                    if (!res.ok) {
                        const error = new Error(res.statusText);
                        error.json = res.json();
                        throw error;
                    }
                    let resp = await res.json()
                    chartData.value = resp.map((value) => (value.flight.mean_consumption))
                    labels.value = resp.map((value) => (value.itineraryData.itineraryID ))
                    return resp;
                })
                .then(json => { data.value = json; })
                .catch(err => console.error(err))
                .then(() => {
                    loading.value = false;
                });
        }

        onMounted(() => {
            fetchData()
        });
        return {
            data,
            loading,
            error
        };
    }
}
</script>

<template>
    <table id="flights">
        <thead>
            <tr>
                <th scope="col">Itinerary ID</th>
                <th scope="col">From</th>
                <th scope="col">Destination</th>
                <th scope="col">Starting Time</th>
                <th scope="col">Mean Consumption (W)</th>
                <th scope="col">Warnings</th>
                <th scope="col">Access Data</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="flight in data" :key="flight.itineraryData.itineraryID">
                <td>{{ flight.itineraryData.itineraryID }}</td>
                <td>{{ flight.itineraryData.fromlocation }}</td>
                <td>{{ flight.itineraryData.tolocation }}</td>
                <td>{{ flight.itineraryData.Time }}</td>
                <td>{{ flight.flight.mean_consumption }}</td>
                <td>{{ flight.flight.warnings }}</td>
                <td>
                    <RouterLink :to="{ name: 'flight', params: { id: flight.itineraryData.itineraryID }}"><button id="button1">Itinerary Data</button></RouterLink>
                </td>
            </tr>
        </tbody>
    </table>
    <BarChart id="barchart" :coreData=chartData :labels=labels />
</template>

<style scoped>
#barchart {
    height: 300px;
    width: auto;
}

#flights {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#flights td,
#flights th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#flights tr:nth-child(even) {
    background-color: #f2f2f2;
}

#flights tr:hover {
    background-color: #ddd;
}

#flights th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #003858;
    color: white;
}

#button1 {
    background-color: #003858;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
}</style>