<script>
import { ref, onMounted } from "vue"
import LineChart from '../components/LineChart.vue'
export default {
    name: 'FlightData',
    props: {
    },
    components: {
        LineChart
    },
    setup() {
        const data = ref(null);
        const loading = ref(true);
        const error = ref(null);

        function fetchData() {
            loading.value = true;
            return fetch(`http://localhost:3000/flight/${window.location.href.split("/")[4]}`, {
                method: 'get',
                headers: {
                    'content-type': 'application/json'
                }
            })
                .then(async res => {
                    if (!res.ok) {
                        const error = new Error(res.statusText);
                        error.json = res.json();
                        throw error;
                    }
                    let data = await res.json();
                    return data;
                })
                .then(json => { data.value = json.flightData; })
                .catch(err => console.error(err))
                .then(() => {
                    loading.value = false;
                });
        }

        onMounted(() => {
            fetchData();
        });
        return {
            data,
            loading,
            error
        };
    }
}
</script>

<template>
    <RouterLink :to="{ name: 'home' }"><button id="button1">Back</button></RouterLink>
    <div id="pane">
        <table id="flightData">
            <thead>
                <tr>
                    <th scope="col">Start Time</th>
                    <th scope="col">Filtered Voltage (V)</th>
                    <th scope="col">Filtered Current (A)</th>
                    <th scope="col">Discharged Capacity (mAh)</th>
                    <th scope="col">Battery Remaining (%)</th>
                    <th scope="col">Battery Remaining (%)</th>
                    <th scope="col">Battery Warning</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="values in data" :key="values.TIME_StartTime">
                    <td>{{ values.StartTimeHour }}</td>
                    <td>{{ values.BATT_VFilt }}</td>
                    <td>{{ values.BATT_CFilt }}</td>
                    <td>{{ values.BATT_Discharged }}</td>
                    <td>{{ values.BATT_Remaining }}</td>
                    <td>{{ values.BATT_RemainingV }}</td>
                    <td>{{ values.BATT_Warning }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <LineChart id="linechart" />
    </div>
</template>

<style scoped>
#linechart {
    height: 400px;
    width: auto;
}

#pane {
    display: inline-block;
    overflow-y: auto;
    max-height: 500px;
}

#flightData thead th {
    top: 0;
    position: sticky;
}

#flightData {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
}

#flightData td,
#flightData th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#flightData th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #003858;
    color: white;
}

#button1 {
    background-color: #003858;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
}
</style>