<template>
  <Line v-if="loaded" :options="options" :data="chartData" />
</template>

<script lang="ts">
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
} from 'chart.js';
import { Line } from 'vue-chartjs';
import { options, dataFetched } from './chartData';

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
)

export default {
  name: 'LineChart',
  components: {
    Line
  },
  data: () => ({
    loaded: false,
    chartData: {},
    options: options
  }),
  async mounted() {
    this.loaded = false

    try {
      const responseData = await dataFetched()
      this.chartData = responseData
      this.loaded = true
    } catch (e) {
      console.error(e)
    }
  }
}
</script>