<template>
    <Bar v-if="loaded" :options="options" :data="chartData" />
  </template>
  
  <script lang="ts">
  import {
    Chart as ChartJS,
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
    Title,
    Tooltip,
    Legend,
BarElement
  } from 'chart.js';
  import { Bar } from 'vue-chartjs';
  import { options, dataFetchedBarChart } from './chartData';
  
  ChartJS.register(
    CategoryScale,
    LinearScale,
    PointElement,
    BarElement,
    Title,
    Tooltip,
    Legend
  )
  
  export default {
    name: 'BarChart',
    components: {
      Bar
    },
    data: () => ({
      loaded: false,
      chartData: {},
      options: options
    }),
    async mounted() {
      this.loaded = false
  
      try {
        const responseData = await dataFetchedBarChart()
        console.log(responseData)
        this.chartData = responseData
        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    }
  }
  </script>